.App {
  /* text-align: center; */
  /* background-color: #343f57; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




